// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.topics{

    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    // height: 100vh;
    // width: 100vw;
    position: relative; /* 今の位置を基準 */
    top: 50px; /* 上から10px */


}

.